.anchorPane{
    -fx-background-color: linear-gradient(to bottom, #33ccff 1%, #ffff00 103%);
}

.oneDayHboxField:hover {
    -fx-background-color: linear-gradient(to bottom, #66ffff 0%, #ffff66 100%);
    -fx-border-color : linear-gradient(to top, #00ff99 0%, #66ff33 100%);
    -fx-border-width : 0 0 1 0;
}
